@model Bs.Calendar.Mvc.ViewModels.BookHistoryVm
@{    
    ViewBag.Title = "Create Book";
    var btnName = "Create";
    var id = 0;
    var bookTitle = "New book";

    if (Model != null && Model.BookId != 0)
    {
        btnName = "Update";
        id = Model.BookId;
        bookTitle = Model.BookTitle;
        ViewBag.Title = "Edit Book";
    }
}

<div class="row">
    <div class="centered eight columns default alert">
        <h4 class="centered four columns">@ViewBag.Title</h4>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(book => book.BookId)
        
        <div class="centered seven columns danger alert">
            @Html.ValidationSummary()
        </div>

        <div class="row">
            <fieldset class="centered eight columns">
                <legend>
                    <h4>@bookTitle</h4>
                </legend>

                <div class="field">
                    @Html.LabelFor(model => model.BookCode, new { @class = "inline three columns" })
                    @Html.TextBoxFor(model => model.BookCode, new { @class = "wide text input" })
                </div>

                <div class="field">
                    @Html.LabelFor(model => model.BookTitle, new { @class = "inline three columns" })
                    @Html.TextBoxFor(model => model.BookTitle, new { @class = "wide text input" })
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.BookAuthor, new { @class = "inline three columns" })
                    @Html.TextBoxFor(model => model.BookAuthor, new { @class = "wide text input" })
                </div>
                <div class="field">
                    @Html.LabelFor(model => model.BookDescription, new { @class = "inline three columns" })
                    @Html.TextAreaFor(model => model.BookDescription, new { @class = "wide input textarea"})
                </div>

                <div class="medium secondary btn three columns">
                    <input type="submit" value="@btnName"/>
                </div>

                <div class="medium default btn push_one three columns">
                    @Html.ActionLink("Back", "Index")
                </div>

                @if (id != 0)
                {
                    <div class="medium info btn three columns push_one">
                        @Html.ActionLink("Delete", "Delete", new { id })
                    </div>
                }
            </fieldset>
            @if (id != 0)
            {
                <div class="centered eight columns">

                    <div class="medium info btn icon-left icon-book three columns pull_right"
                        id="AddButton"
                        data-bind="click: show">
                        <a href="#">Add</a>
                    </div>
                    @Html.Partial("BookHistory")
                </div>
            }
        </div>
    }
</div>

@if (id != 0)
{
    @section scripts
    {
        <script src="/Scripts/jquery-2.0.2.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="../../Scripts/Books/BookHistoryList.js"></script>
        <script src="../../Scripts/Shared/moment.js"></script>
        <script type="text/javascript">
            $(document).ready(function ()
            {
                var model = new BookHistoryVm(@Html.RawJson(@Model.BookHistoryList));
                ko.applyBindings(model);
            });
        </script>
    }
}
