@model Bs.Calendar.Mvc.ViewModels.TeamEditVm

@{
    ViewBag.Title = "Delete Team";
}

<div class="row">
    <div class="centered seven columns default alert">
        <h4 class="centered four columns">@ViewBag.Title</h4>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("TeamId", Model.TeamId)

        <fieldset class="centered seven columns">
            <legend>
                <h4>@Model.Name</h4>
            </legend>
              
            <div class="centered eight columns">Are you sure want to delete this team?</div>
            <br/>
            <br/>

            <div class="medium default btn push_one three columns">
                <input type="submit" value="Delete"/>
            </div>

            <div class="medium default btn push_three three columns">
                @Html.ActionLink("No", "Edit", new {id = @Model.TeamId})
            </div>
        </fieldset>
    }
</div>