@{
    ViewBag.Title = "Teams";

    var ajaxOptions = new AjaxOptions {
        UpdateTargetId = "team-table",
        HttpMethod = "Get"
    };
}

<div class="row">
    <div class="centered seven columns default alert">
        <h4 class="centered two columns">@ViewBag.Title</h4>
    </div>
</div>
    
<div class="row">
    <div class="sixteen colgrid">
        <div class="row">
            <div class="one columns">
                <button class="medium primary btn">@Html.ActionLink("Create", "Create")</button>
            </div>
        
            @using (Ajax.BeginForm("List", "Team", ajaxOptions))
            {
                <div class="field push_eleven four columns">
                    <input class="search input" type="text" name="searchStr" placeholder="Find team"/>
                </div>
            }
        </div>

        <div class="row">
            <div id="team-table">
                @Html.Action("List")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}

@section styles {
    <link href="@Url.Content("~/Content/Layout/list-view.css")" rel="stylesheet"/>
}