@model Bs.Calendar.Mvc.ViewModels.Teams.TeamsVm

<input id="listPage" hidden="true" value="@Model.Filter.Page">
<input id="listTotalPages" hidden="true" value="@Model.Filter.TotalPages">

@foreach (var team in Model.Teams)
{
    <tr ondblclick=" RowDblClick('@Url.Action("Edit", "Team", new {id = team.Id})') ">
        <td>@team.Name</td>      
        <td>           
            <div class="medium default btn icon-right icon-pencil">@Html.ActionLink("Edit", "Edit", new {id = team.Id})</div>
        </td>
    </tr>
}


