<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @RenderSection("styles", false)
    </head>
    <body>
        <div class="page-wrapper">
            @Html.Partial("Header")
            
            @RenderBody()
            
            <div class="page-buffer"></div>
        </div>

        @Html.Partial("Footer")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/Gumby")
        @Scripts.Render("~/Scripts/all")
        @Scripts.Render("~/bundles/Knockout")
        @RenderSection("scripts", required: false)
    </body>
</html>

