<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header style="background: orange; height: 75px; width:100% ">
            <img src="../../Content/binaryStroked.png" style="height: 70px; margin-top: 3px; margin-left: 7px; position: absolute" />
            <div style="font-family: KG Keep Your Head Up; font-size: 60px; color: black; padding-left: 80%; padding-top: 35px;">Calendar</div>
        </header>
        <div style="margin-top: 10px;">
            @RenderBody()
        </div>
        <footer>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/all")
        @RenderSection("scripts", required: false)
    </body>
</html>