<header class="navbar" id="nav1">
    <div class="row">
        <div class="two columns logo">
            <a href="~/">
                <img width="85" src="~/Images/binaryLogo.png"/>
            </a>
        </div>
        <div class="push_eight one column">
            <ul>
                <li>
                    <a href="#">MENU</a>
                    <div class="dropdown">
                        <ul>
                            <li>
                                @Html.ActionLink("Users", "Index", "Users")
                            </li>
                            <li>
                                @Html.ActionLink("Rooms", "Index", "Room")
                            </li>
                            <li>
                                @Html.ActionLink("Books", "Index", "Book")
                            </li>
                            <li>
                                @Html.ActionLink("Teams", "Index", "Team")
                            </li>
                        </ul>
                    </div>
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
</header>