@model Bs.Calendar.Mvc.ViewModels.BookEditVm

<ul>
    <li class="field">
        @Html.LabelFor(book => book.Code, new {@class = "inline"})
        @Html.TextBoxFor(book => book.Code, new {@class = "wide text input pull_right"})
    </li>

    <li class="field">
        @Html.LabelFor(book => book.Title, new {@class = "inline"})
        @Html.TextBoxFor(book => book.Title, new {@class = "wide text input pull_right"})
    </li>

    <li class="field">
        @Html.LabelFor(book => book.Author, new {@class = "inline"})
        @Html.TextBoxFor(book => book.Author, new {@class = "wide text input pull_right"})
    </li>
</ul>