@model Bs.Calendar.Mvc.ViewModels.UserEditVm

@{
    ViewBag.Title = "User Details";
}

<div class="row">
    <div class="centered seven columns">
        <h3>@ViewBag.Title</h3>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <fieldset class="centered seven columns">
            <legend>
                <h4>@Model.FirstName @Model.LastName</h4>
            </legend>
        
            <ul>
                <li class="field">
                    @Html.LabelFor(user => user.Email, new {@class = "inline"})
                    @Model.Email
                </li>
                <li class="field">
                    @Html.LabelFor(user => user.Role, new {@class = "inline"})
                    @Model.Role
                </li>
            </ul>
        
            
            <div class="medium default btn centered three columns">
                @Html.ActionLink("Back", "Index")
            </div>
        </fieldset>
    </div>
}
@section styles {
    <link href="@Url.Content("~/Content/User/user-edit.css")" rel="stylesheet"/>
}