@using Bs.Calendar.Models
@model Bs.Calendar.Mvc.ViewModels.Users.UserEditVm

@{
    ViewBag.Title = "User Details";
}

@switch (Model.Live)
{
    case LiveStatuses.Deleted:
        <div class="row">
            <div class="centered seven columns alert">
                <h4>User with email @Model.Email already exists but you can @Html.ActionLink("recover it", "RecoverUser", Model)</h4>
            </div>
        </div>
        break;
    case LiveStatuses.Active:
        <div class="row">
            <div class="centered seven columns alert">
                <h4>User with email @Model.Email already exists!</h4>
            </div>
        </div>
        break;
}

<div class="row">
    <div class="centered seven columns text-center sub-title">
        <h4>@ViewBag.Title</h4>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {

        <fieldset class="centered seven columns">
            <legend>
                <h4>@Model.FirstName @Model.LastName</h4>
            </legend>

            <ul>
                <li class="field">
                    @Html.LabelFor(user => user.Email, new { @class = "inline" })
                    @Model.Email
                </li>
                <li class="field">
                    @Html.LabelFor(user => user.Role, new { @class = "inline" })
                    @Model.Role
                </li>
            </ul>

            <div class="medium default btn centered three columns">
                @Html.ActionLink("Back", "Index")
            </div>
        </fieldset>
    }
</div>
@section styles {
    <link href="@Url.Content("~/Content/Layout/edit-form.css")" rel="stylesheet"/>
}