@model Bs.Calendar.Mvc.ViewModels.UserEditVm

@{
    ViewBag.Title = "Edit";
    var userRoles = (from object role in Enum.GetValues(typeof(Bs.Calendar.Models.Roles)) select role.ToString()).ToList();
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>
        
        @Html.Hidden("UserId", Model.UserId);

        <div>
            @Html.LabelFor(user => user.FirstName)
        </div>
        <div>
            @Html.EditorFor(user => user.FirstName)
            @Html.ValidationMessageFor(user => user.FirstName)
        </div>

        <div>
            @Html.LabelFor(user => user.LastName)
        </div>
        <div>
            @Html.EditorFor(user => user.LastName)
            @Html.ValidationMessageFor(user => user.LastName)
        </div>

        <div>
            @Html.LabelFor(user => user.Email)
        </div>
        <div>
            @Html.EditorFor(user => user.Email)
            @Html.ValidationMessageFor(user => user.Email)
        </div>

        <div>
            @Html.LabelFor(model => model.Role)
        </div>
        <div>
            @Html.DropDownListFor(user => user.Role, new SelectList(userRoles))
        </div>
                
        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}