@using Bs.Calendar.Models
@model Bs.Calendar.Mvc.ViewModels.UserEditVm
@{
    var userRoles = (from object role in Enum.GetValues(typeof(Bs.Calendar.Models.Roles)) select role.ToString()).ToList();
    var btnName = Model == null ? "Create" : "Update";
    var userId = 0;

    if (Model != null && Model.UserId != 0)
    {
        userId = Model.UserId;
        ViewBag.Title = "Edit User";
        ViewBag.User = Model.FirstName + " " + Model.LastName;
    }
    else
    {
        ViewBag.Title = "Create User";
        ViewBag.User = "New User";
    }
}

<div class="row">
    <div class="centered seven columns default alert">
        <h4 class="centered four columns">@ViewBag.Title</h4>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(user => user.UserId)
        @Html.HiddenFor(user => user.BirthDate)
        @Html.HiddenFor(user => user.LiveState)
        <div class="centered seven columns">
            @Html.ValidationSummary()
        </div>

        <div class="row">
            <fieldset class="centered seven columns">
                <legend>
                    <h4>@ViewBag.User</h4>
                </legend>

                <ul>
                    <li class="field">
                        @Html.LabelFor(user => user.FirstName, new { @class = "inline" })
                        @Html.TextBoxFor(user => user.FirstName, new { @class = "wide text input" })
                    </li>

                    <li class="field">
                        @Html.LabelFor(user => user.LastName, new { @class = "inline" })
                        @Html.TextBoxFor(user => user.LastName, new { @class = "wide text input" })
                    </li>

                    <li class="field">
                        @Html.LabelFor(user => user.Email, new { @class = "inline" })
                        @Html.TextBoxFor(user => user.Email, new { @class = "wide text input" })
                    </li>

                    <li class="field">
                        @Html.LabelFor(user => user.Role, new { @class = "inline" })
                        <div class="picker">
                            @Html.DropDownListFor(user => user.Role, new SelectList(userRoles))
                        </div>
                    </li>
                    @if (userId != 0)
                    {
                        if (Model.LiveState != LiveState.Deleted)
                        { 
                            <li>
                                <text class="column">Deleted</text>
                                @Html.CheckBox("delete")
                            </li>
                        }
                    }
                </ul>

                <div class="medium secondary btn three columns">
                    <input type="submit" value=@btnName />
                </div>

                <div class="medium default btn push_one three columns">
                    @Html.ActionLink("Back", "Index")
                </div>


            </fieldset>
        </div>
    }
</div>

@section Scripts {
    <script src="/Scripts/jquery-2.0.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@section styles {
    <link href="@Url.Content("~/Content/Layout/edit-form.css")" rel="stylesheet"/>
}