@using Bs.Calendar.Mvc.ViewModels

@{
    ViewBag.Title = "Users";
    var pagingVm = @Session["pagingVm"] ?? new PagingVm();
}

<div class="row">
    <div class="centered seven columns default alert text-center">
        <h4>@ViewBag.Title</h4>
    </div>
</div>

@Html.Partial("FilterSettings")

<div class="row">
    <div class="one columns">
        <button class="medium primary btn"><a href="/Users/Create">Create</a></button>
    </div>
    <div class="pull_right field four columns">
        <div class="row">
            <div class="field nine columns">
                <input class="search input" type="text" name="searchStr" placeholder="Find user" data-bind="value: model.SearchStr, event: { change: changeHandler }">
            </div>
            <div class="field three columns">
                <div class="btn default medium" title="Filter settings">
                    <a href="#"  data-bind="click: resetFlags" gumby-trigger="#filter_settings">
                        <i class="icon-menu"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-bind="attr: { class: 
                model.ShowAdmins() || model.ShowNotApproved() || model.ShowDeleted()
                ? 'success label twelve columns'
                : 'info label twelve columns' }">
                <div class="label" data-bind="text: chekedFlagsToString"></div>
            </div>
        </div>
    </div>
</div>
      
<div class="row">
    <table>
        <thead>
            <tr>
                <th></th>                
                <th><div id="th-name" data-bind="click: headerClick">Name</div></th>
                <th><div id="th-email" data-bind="click: headerClick">E-mail</div></th>
                <th>Action</th>
            </tr>
        </thead>
    
        <tbody id="list-body">
            @*@Html.Action("List", @Session["pagingVm"] ?? new PagingVm())*@
        </tbody>
    </table>
</div>

<div class="row" data-bind="visible : model.TotalPages() > 0">
    <div class="two columns">
        <div class="field">
            <input class="text input" type="text" name="PagingVm.Page" data-bind="value: model.Page, event: { change: changeHandler }">
        </div>
    </div>
            
    <div class="two columns default alert" data-bind="text : 'of ' + model.TotalPages()">
       
    </div>

    <div class="primary label push_four two columns">
        <a href="~" data-bind="click: previousPage">Previous</a>
    </div>

    <div class="primary label two columns">
        <a href="~" data-bind="click : nextPage">Next</a>
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/Layout/list-view.css")" rel="stylesheet"/>
}

@section Scripts {
    <script src="../../Scripts/Users/UserList.js"></script>
    <script src="../../Scripts/Layout/list-view.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            currentViewModel = @Html.Raw(Json.Encode(@pagingVm));

            var model = new ViewModel();
            
            model.updateModal(currentViewModel);
            ko.applyBindings(model);
            model.updateList(currentViewModel);
        });
    </script>
}