@model Bs.Calendar.Mvc.ViewModels.Users.UserFilterVm

@{
    ViewBag.Title = "Users";
}

<div class="row">
    <div class="centered seven columns default alert text-center">
        <h4>@ViewBag.Title</h4>
    </div>
</div>

@Html.Partial("FilterSettings")

<div class="row">
    <div class="one columns">
        <button class="medium primary btn">
            <a href="@Url.Action("Create")">Create</a>
        </button>
    </div>
    <div class="pull_right field four columns">
        <div class="row">
            <div class="field nine columns">
                <input class="search input" type="text" placeholder="Input name of email" data-bind="value: filter.SearchString, event: { change: changeHandler }">
            </div>
            <div class="field three columns">
                <div class="btn default medium" title="Filter settings">
                    <a href="#" data-bind="click: filter.showFilterWindow" gumby-trigger="#filter_settings">
                        <i class="icon-menu"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-bind="attr: { class: 
                filter.OnlyAdmins() || filter.NotApproved() || filter.Deleted()
                ? 'success label twelve columns'
                : 'info label twelve columns' }">
                <div class="label" data-bind="text: filter.displayFilter"></div>
            </div>
        </div>
    </div>
</div>
      
<div class="row">
    <table>
        <thead>
            <tr>
                <th></th>                
                <th><div data-field="FullName" id="th-name" data-bind="click: headerClick">Name</div></th>
                <th><div data-field="Email" id="th-email" data-bind="click: headerClick">E-mail</div></th>
                <th>Action</th>
            </tr>
        </thead>
    
        <tbody id="list-body">
        </tbody>
    </table>
</div>

<div class="row" data-bind="visible: TotalPages() > 0">
    <div class="two columns">
        <div class="field">
            <input class="text input" type="text" name="PagingVm.Page" data-bind="value: filter.Page, event: { change: changeHandler }">
        </div>
    </div>
            
    <div class="two columns default alert" data-bind="text: 'of ' + TotalPages()">
       
    </div>

    <div class="primary label push_four two columns">
        <a href="~" data-bind="click: previousPage">Previous</a>
    </div>

    <div class="primary label two columns">
        <a href="~" data-bind="click : nextPage">Next</a>
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/Layout/list-view.css")" rel="stylesheet"/>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.UserFrame = new UserFrame();
            ko.applyBindings(window.UserFrame);
            window.UserFrame.filter.setFilter(@Html.Raw(Json.Encode(Model)));
        });
    </script>
}