@model Bs.Calendar.Mvc.ViewModels.UsersVm 
@{
    ViewBag.Title = "User Page";
}

<div id="container">
    
    <h1>Пользователи</h1>
    <button>@Html.ActionLink("Create", "Create")</button>

    @using (Html.BeginForm("Find", "Users")) {
        <input type="text" name="text" value="Find User" onfocus="if (this.value=='Find User') {this.value=''}"
               onblur="if (this.value=='') {this.value='Find User'}"/>
    }
    
    <table >
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>E-mail</th>
            <th>Actions</th>
        </tr>
        @foreach (var user in Model.Users) {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName @user.LastName</td>      
                <td>@user.Email</td>
                <td>           
                    <button>@Html.ActionLink("Edit", "Edit", new { id=user.Id })</button>
                    <button>@Html.ActionLink("Delete", "Delete", new { id=user.Id })</button>
                    <button>@Html.ActionLink("Details", "Details", new { id=user.Id })</button>
                </td>
            </tr>
        }
    </table>
</div>