@using Bs.Calendar.Mvc.ViewModels

@{
    ViewBag.Title = "Users";
    var pagingVm = @Session["pagingVm"] ?? new PagingVm();
}

<div class="row">
    <div class="centered seven columns default alert">
        <h4 class="centered two columns">@ViewBag.Title</h4>
    </div>
</div>
    

<div class="row">
    <div class="one columns">
        <button class="medium primary btn">@Html.ActionLink("Create", "Create")</button>
    </div>
   
    @Html.Partial("SearchSettings")

    <div class="field append push_seven three columns">
        <input class="search input" type="text" name="searchStr" placeholder="Find user" data-bind="value: model.SearchStr, event: { change: changeHandler }"/>
        <div class="btn default medium">
            <a href="#" class="switch" gumby-trigger="#search_settings"><i class="icon-cog"></i></a>
        </div>
    </div>
    
    @*<div class="field append push_seven three columns">
        <input class="search input" type="text" name="searchStr" placeholder="Find user" data-bind="value: model.SearchStr, event: { change: changeHandler }"/>
        <div class="btn default medium">
            <a href="#" id="search_settings_open"><i class="icon-user"></i></a>
        </div>
        <div class="btn secondary medium">
            <a href="#" id="search_settings_open"><i class="icon-lock"></i></a>
        </div>
    </div>*@
</div>
      
<div class="row">
    <table>
        <thead>
            <tr>
                <th><div id="th-name" data-bind="click: headerClick">Name</div></th>
                <th><div id="th-email" data-bind="click: headerClick">E-mail</div></th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
    
        <tbody id="list-body">
            @*@Html.Action("List", @Session["pagingVm"] ?? new PagingVm())*@
        </tbody>
    </table>
</div>

<div class="row" data-bind="visible : model.TotalPages() > 0">
    <div class="two columns">
        <div class="field">
            <input class="text input" type="text" name="PagingVm.Page" data-bind="value: model.Page, event: { change: changeHandler }">
        </div>
    </div>
            
    <div class="two columns default alert" data-bind="text : 'of ' + model.TotalPages()">
       
    </div>

    <div class="primary label push_four two columns">
        <a href="~" data-bind="click: previousPage">Previous</a>
    </div>

    <div class="primary label two columns">
        <a href="~" data-bind="click : nextPage">Next</a>
    </div>
</div>

@section styles {
    <link href="@Url.Content("~/Content/Layout/list-view.css")" rel="stylesheet"/>
}

@section Scripts {

    <script src="../../Scripts/Users/UserList.js"></script>
    <script src="../../Scripts/Layout/list-view.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            
            var model = new ViewModel();
            ko.applyBindings(model);
            model.updateList(@Html.Raw(Json.Encode(@pagingVm)));
        });
    </script>
}