@using Bs.Calendar.Models
@model Bs.Calendar.Mvc.ViewModels.UsersVm

<input id="listPage" hidden="true" value="@Model.PagingVm.Page">
<input id="listTotalPages" hidden="true" value="@Model.PagingVm.TotalPages">
<input id="listSearchStr" hidden="true" value="@Model.PagingVm.SearchStr">
<input id="listSortByStr" hidden="true" value="@Model.PagingVm.SortByStr">

@foreach (var user in Model.Users)
{
    var notApprovedStyle = user.LiveState == LiveState.NotApproved ? "background-color: Yellow" : null;
    var labelText = notApprovedStyle != null ? "Not approved" : user.LiveState.ToString();
    
    <tr ondblclick="RowDblClick('@Url.Action("Edit", "Users", new { id = user.Id })')" style="@notApprovedStyle">
        <td>
            <label for="name">@labelText</label>
        </td>
        <td id="name">@user.FirstName @user.LastName</td>
        <td>@user.Email</td>
        <td>
            <div class="default btn">@Html.ActionLink("Edit", "Edit", new { id = user.Id })</div>
        </td>
    </tr>
}

