@using Bs.Calendar.Models
@model Bs.Calendar.Mvc.ViewModels.UsersVm

<input id="listPage" hidden="true" value="@Model.PagingVm.Page">
<input id="listTotalPages" hidden="true" value="@Model.PagingVm.TotalPages">
<input id="listSearchStr" hidden="true" value="@Model.PagingVm.SearchStr">
<input id="listSortByStr" hidden="true" value="@Model.PagingVm.SortByStr">
<input id="listShowAdmins" hidden="true" value="@Model.PagingVm.ShowAdmins">
<input id="listShowDeleted" hidden="true" value="@Model.PagingVm.ShowDeleted">
<input id="listShowNotApproved" hidden="true" value="@Model.PagingVm.ShowNotApproved">

@foreach (var user in Model.Users)
{
    string notApprovedStyle = null;
    string labelText;

    switch (user.LiveState)
    {
        case (LiveState.Active | LiveState.NotApproved):
            notApprovedStyle = "background-color: Yellow";
            labelText = "Active, not approved";
            break;
        case LiveState.NotApproved:
            notApprovedStyle = "background-color: Yellow";
            labelText = "Not approved";
            break;
        default:
            labelText = user.LiveState.ToString();
            break;
    }
    
    <tr ondblclick="RowDblClick('@Url.Action("Edit", "Users", new { id = user.Id })')" style="@notApprovedStyle">
        <td>
            <label for="name">@labelText</label>
        </td>
        <td id="name">@user.FirstName @user.LastName</td>
        <td>@user.Email</td>
        <td>
            <div class="default btn">@Html.ActionLink("Edit", "Edit", new { id = user.Id })</div>
        </td>
    </tr>
}

