@using Bs.Calendar.Models
@model Bs.Calendar.Mvc.ViewModels.Users.UsersVm

<<<<<<< Updated upstream
<input id="listPage" hidden="true" value="@Model.Filter.Page">
<input id="listTotalPages" hidden="true" value="@Model.Filter.TotalPages">
=======
@using Bs.Calendar.Models
@model Bs.Calendar.Mvc.ViewModels.Users.UsersVm
>>>>>>> Stashed changes

@foreach (var user in Model.Users)
{
    var labelText = "";
    if(user.Live==LiveStatuses.Deleted)
    {
        labelText = "Deleted";
    }
    else if (user.ApproveState == ApproveStates.NotApproved)
    {
        labelText = "Not approved";
    }

    var notApprovedStyle = user.ApproveState==ApproveStates.NotApproved ? "background-color: Yellow" : null;
    
    <tr ondblclick="RowDblClick('@Url.Action("Edit", "Users", new { id = user.Id })')" style="@notApprovedStyle">
        <td>
            <label for="name">@labelText</label>
        </td>
        <td id="name">@user.FirstName @user.LastName</td>
        <td>@user.Email</td>
        <td>
            <div class="default btn">@Html.ActionLink("Edit", "Edit", new { id = user.Id })</div>
        </td>
    </tr>
}