@model Bs.Calendar.Mvc.ViewModels.UsersVm

<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FirstName @user.LastName</td>      
            <td>@user.Email</td>
            <td>           
                @*<button>@Html.ActionLink("Edit", "Edit", new {id = user.Id})</button>*@
                <div class="medium default btn icon-right icon-pencil">@Html.ActionLink("Edit", "Edit", new {id = user.Id})</div>
                @*<button>@Html.ActionLink("Delete", "Delete", new {id = user.Id})</button>*@
                <div class="medium default btn icon-right icon-trash">@Html.ActionLink("Delete", "Delete", new {id = user.Id})</div>
                @*<button>@Html.ActionLink("Details", "Details", new {id = user.Id})</button>*@
                <div class="medium default btn icon-right icon-info">@Html.ActionLink("Details", "Details", new {id = user.Id})</div>
            </td>
        </tr>
    }
</tbody>