@model Bs.Calendar.Mvc.ViewModels.Home.PersonalEventVm

@{
    var DoesEventExists = Model.EventId == 0;
    
    var legendFieldName = DoesEventExists ? "New personal event" : Model.Title;
    var submitButtonName = DoesEventExists ? "Create" : "Update";
    ViewBag.Title = string.Format("{0} personal event", submitButtonName);
}

<div class="row">
    <div class="centered seven columns default alert text-center">
        <h4>@ViewBag.Title</h4>
    </div>
</div>

<div class="row">
    <form data-bind="submit : onSubmit">
        @Html.AntiForgeryToken()
        <div class="centered seven columns">
            @Html.ValidationSummary()
        </div>
        
        <div class="row">
            <fieldset class="centered seven columns">
                <legend>
                    <h4>@legendFieldName</h4>
                </legend>
                
                
<!-- Bottom control buttons -->
                <div class="medium secondary btn three columns">
                    <input type="submit" value="@submitButtonName"/>
                </div>

                <div class="medium default btn push_one three columns">
                    @Html.ActionLink("Back", "Index")
                </div>
            
                @if (DoesEventExists)
                {
                    <div class="medium info btn three columns push_one">
                        @*@Html.ActionLink("Delete", "Delete", new {id})*@
                    </div>
                }
<!---->
            </fieldset>
        </div>

    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var viewModel = new PersonalEventVm(@Html.RawJson(Model));
            
        });

    </script>
}
